<p class="btns" id="page_update_btn_wrapper">
  <%= link_to '목록 새로 받아오기', update_from_fb_mypage_pages_path, id: "page_update_btn"%>
</p>
<ul>
<% @pages.each do |page|%>
	<li>
    <%= link_to mypage_page_posts_path(page) do %>
      <p>
        <span><%= page.name %></span>
        <span> 좋아요:[<%= number_with_delimiter(page.likes) %>]</span>
      </p>
    <% end %>
  </li>
<% end %>
</ul>