<h1>Landings#index</h1>
<%= link_to '페북 로그인', omniauth_authorize_path(:user, 'facebook'), id: "fb_login_btn" unless user_signed_in?%>
<%= link_to 'my page', mypage_dashboard_index_path if user_signed_in? %>
