<div class="page-header">
  <h1><%=t ".title", default: "Login" %></h1>
</div>
<div class="col-md-offset-4 col-md-8">
  <%= link_to '페북 로그인', omniauth_authorize_path(:user, 'facebook'), id: "fb_login_btn" unless user_signed_in?%>
</div>
